<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sp.dao.PersonDao" >
  <insert id="save" parameterType="Person" useGeneratedKeys="true" keyProperty="id">
  	insert into person(name,sex,age,birthday) values(#{name},#{sex},#{age},#{birthday});
  
  </insert>
  
  <select id="queryById" parameterType="Integer" resultType="Person">
  	select * from person where id = #{id};
  </select>
</mapper>